<% layout('layouts/boilerplate')%>
    <div class="container" style="margin-left:5rem;">
        <div class="row">
            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/350x550/?students"></div> 
            <div class="col-sm-8">
                <h1 class="fw-bold">History</h1>
                <p>Over 20 years ago, Young and Jenny Kwon founded Celebral_heights on behalf of their children. Familiar only with the rigorous and strict educational upbringing abroad, they felt the school system and level of coursework their children were now exposed to was inadequate to remain competitive. Their collective educational vision was that a child's full academic potential would only be achieved by an initial strong foundation in fundamentals followed by constant fortification and numerous applications of these core concepts in a nurturing environment.</p>

                   <p> In line with this vision, Celebral_heights opened in the fall of 1986. The school started with six small classrooms on half a floor of rent space with roughly 30 students and a handful of teachers. Celebral_heights offered English, Math, Writing, Science, and Computer courses. Students began their day with a short quiz, attended teacher-led instruction, completed classwork assignments, and worked on homework packets to practice skills and concepts covered during that day's lesson. To promote teamwork, Elite Academy teachers and students put together a baseball team. At one point, the teachers even got together to put on a rock band/drama show for the students.</p>
                    
                   <p>Since then,Celebral_heights has grown its course offerings to provide even more education opportunities. Today, the school provides students in grades 3 to 12 with enrichment classes in English, Math, and Writing. These classes are structured to reflect Common Core standards, and are geared towards strengthening students' reading comprehension, mathematical, analytical, and writing abilities. In addition, Elite Academy offers classes for students preparing for important examinations, such as the Hunter High School Admissions Test, Specialized High School Admissions Test (SHSAT), Regents Examinations (Algebra I, Geometry, Algebra II/Trigonometry, Biology, Chemistry, Physics ), PSAT, and SAT. These intensive test preparation programs, all of which include mock quizzes and examinations alongside regular class instruction, have successfully prepared countless students for statewide tests and for admissions/entrance exams into top-tier middle schools, high schools, and universities around the country.</p>
        </div>
        <div class="row mb-5 bg-success p-2 text-dark bg-opacity-10">
            <div class="col-sm-8">
                <h1 class="fw-bold">The future of education is here</h1>
                <p>Education enables upward
                    socioeconomic mobility and is a key to escaping
                    poverty. Over the past decade, major progress was made towards increasing access to education
                    and school enrollment rates at all levels, particularly for girls. Nevertheless, about 260
                    million children were still out of school in 2018 — nearly one fifth of the global population in
                    that age group. And more than half of all children and adolescents worldwide are not meeting
                    minimum proficiency standards in reading and mathematics. </p>
                <p>So with this platform,we try to provide a qualty education to the mass.</p>
            </div>

            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?coding,apple/laptop"
                    style="border-radius: 50%; "></div></div>
        <div class="row mb-5">
            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?coding,brain"
                    style="border-radius: 50%; "></div>
            <div class="col-sm-8">
                <h1 class="fw-bold">Your search is end here</h1>
                <p>With digital and printable resources, kids can learn about any topic they’re
                    curious
                    about in avery easy.

                </p></div>
            </div>
            <div class="row mb-5 bg-success p-2 text-dark bg-opacity-10">
                <div class="col-sm-8">
                    <h1 class="fw-bold">Why Celebral_heights?</h1>
                        <ul class=lh-lg>
                            <li>Highly Qualified and Experienced Faculty</li>
                            <li>Comphrehensive study material</li>
                            <li>More than academics</li>
                            <li>Integrated teaching</li>
                        </ul></div>
                        <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?questions,mark"
                            style="border-radius: 50%; "></div></div>
            <!-- 
                    <div class="buttons">
                        <button class="btn">Sign In</button>
                        <button class="btn">Log In</button>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="fw-bold"><div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?coding,apple/laptop" style="border-radius: 50%; " ></div>
                            </div>

                  
                </div>
            </div>
        </section>
    </nav>
    <section id="background_secondsection">
        <div class="box-main2">
            <div class="second-half">
                <img src="https://source.unsplash.com/random/900x700/?coding,html" alt="ups" class="second_section">
            </div>
            <div class="first-half">
                <p class="text-big">Your search is end here</p>
                <p class="text-small">With digital and printable resources, kids can learn about any topic they’re
                    curious
                    about in avery easy. </p>
                <div class="buttons">
                    <button class="library_btn">Browse The Library</button>
                </div>
            </div>
        </div>
    </section>
    <section id="background_thirdsection">
        <div class="box-main">
            <div class="first-half">
                <p class="text-big">Why I educate?</p>
                <p class="text-small"></p>
                <ul class="adv">
                    <li>Highly Qualified and Experienced Faculty</li>
                    <li>Comphrehensive study material</li>
                    <li>More than academics</li>
                    <li>Integrated teaching</li>
                </ul>
            </div>
            <div class="second-half">
                <img src="https://source.unsplash.com/random/900x700/?coding,javascript">
            </div>
        </div>
    </section>
   --> -->