<% layout('layouts/boilerplate')%>
    <div class="container  d-flex justify-content-center  mt-5" style="max-width: 100%; margin: 0 auto;">
        <div class="row">
            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/350x550/?students" style="max-width: 100%; height: auto;"></div> 
            <div class="col-sm-6">
                <h1 class="fw-bold">History</h1>
                <p>Over 20 years ago, Young and Jenny Kwon founded Celebral_heights on behalf of their children. Familiar only with the rigorous and strict educational upbringing abroad, they felt the school system and level of coursework their children were now exposed to was inadequate to remain competitive. Their collective educational vision was that a child's full academic potential would only be achieved by an initial strong foundation in fundamentals followed by constant fortification and numerous applications of these core concepts in a nurturing environment.</p>

                   <p> In line with this vision, Celebral_heights opened in the fall of 1986. The school started with six small classrooms on half a floor of rent space with roughly 30 students and a handful of teachers. Celebral_heights offered English, Math, Writing, Science, and Computer courses. Students began their day with a short quiz, attended teacher-led instruction, completed classwork assignments, and worked on homework packets to practice skills and concepts covered during that day's lesson. To promote teamwork, Elite Academy teachers and students put together a baseball team. At one point, the teachers even got together to put on a rock band/drama show for the students.</p>
                    
        </div>
        <div class="row mb-5 bg-success  text-dark bg-opacity-10">
            <div class="col-sm-8">
                <h1 class="fw-bold">The future of education is here</h1>
                <p>Education enables upward
                    socioeconomic mobility and is a key to escaping
                    poverty. Over the past decade, major progress was made towards increasing access to education
                    and school enrollment rates at all levels, particularly for girls. Nevertheless, about 260
                    million children were still out of school in 2018 — nearly one fifth of the global population in
                    that age group. And more than half of all children and adolescents worldwide are not meeting
                    minimum proficiency standards in reading and mathematics. </p>
                <p>So with this platform,we try to provide a qualty education to the mass.</p>
            </div>

            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?coding,apple/laptop"
                    style="border-radius: 50%; "></div></div>
        <div class="row mb-5">
            <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?coding,brain"
                    style="border-radius: 50%; "></div>
            <div class="col-sm-6">
                <h1 class="fw-bold">Your search is end here</h1>
                <p>With digital and printable resources, kids can learn about any topic they’re
                    curious
                    about in avery easy.

                </p></div>
            </div>
            <div class="row mb-5 bg-success p-2 text-dark bg-opacity-10">
                <div class="col-sm-8">
                    <h1 class="fw-bold">Why Celebral_heights?</h1>
                        <ul class=lh-lg>
                            <li>Highly Qualified and Experienced Faculty</li>
                            <li>Comphrehensive study material</li>
                            <li>More than academics</li>
                            <li>Integrated teaching</li>
                        </ul></div>
                        <div class="col-sm-4"> <img src="https://source.unsplash.com/random/300x300/?questions,mark"
                            style="border-radius: 50%; "></div></div>
        
