 <% layout('layouts/boilerplate')%> 
 <!-- <div class="site-title-area text-center shadow dark text-dark container-fluid" style="background-image: url(/images/bg4.jpg); height: 20rem; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>All Courses</h1>
            </div>
        </div>
    </div>
</div> -->
          <section class="background2">
                <h1 class="fw-normal " style=" margin-left: 38rem; font-size: 60px; color: rgba(26, 2, 86, 0.841);">All Courses</h1>
            </div>

            <div id="carouselExampleControls" class="carousel slide " data-bs-interval="2000" data-bs-ride="carousel" style="width:70%; height:50%; margin-left: 15rem;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="\images\maths.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\sci.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\cs.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\eng.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\sst3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
               <div class="card ms-20" style="width: 80%; margin-left: 10rem; ">
               
                  <p class="card-text" > 
                     <% for (let course of courses) {%>
           <ul style=" background-color: rgba(55, 166, 196, 0.471);">
            

                    <li style=" margin-left: 3rem; text-align: center; ">

                        <a href="/course/<%=course._id%>" class="link" style="  color: black; font-size: 1.5rem; font-weight:light;">
                          <%=course.name%></a>  </li>
           </ul>
               <% }%> 
                  </p>
                </div>
           
            
          </section>