 <% layout('layouts/boilerplate')%> 
<section class="background2">
                <h1 class="fw-normal mb-5 shadow " style="  font-size: 60px; color: rgba(168, 199, 202, 0.841);">All Courses</h1>
             
                    
                    <div class="card w-50 mx-auto my-auto shadow" >        
                     <p class="card-text" > 
                        <% for (let course of courses) {%>
              <ul style=" background-color: rgba(55, 166, 196, 0.471);">
                       <li style="  text-align: center; list-style: none; ">
                           <a href="/course/<%=course._id%>" class="link" style="  color: black; font-size: 1.5rem; font-weight:light;">
                             <%=course.name%></a>  </li>
              </ul>
                  <% }%> 
                     </p>
                   </div>
           
            
          </section>          
