<% layout('layouts/boilerplate')%>
    

        <section id="background" class="p-5" style="display: flex; justify-content: center; align-items: center;">

          <div class="row">
            <div class="col">
              <img src="\images\c1.jpg" class="d-none d-md-block" alt="..." style="max-width: 100%; height: auto;">
            </div>
            <div class="col my-auto">
              
              <h1 class="h3 text-center p-5 my-auto mx-auto" style="color: rgba(255, 255, 255, 0.893);">
                Welcome to the best educational Institute trusted by thousands of students in Bareilly with award-achieving performance
          
            </h1>
            </div>
          </div>
               
              
        </section>
    